<%- include('../partials/header.ejs') %>

<div class="container col-md-11 mg-top-2">
<div class="card">
  <div class="card-header text-center">
  <h3> Create an Event</h3>
</div>

  <form
  class="flex-direction: coloumn col-md-9"
  action="/events"
  method="POST"
  >

  <div class="form-group">
    <textarea
    class="form-control"

    name="title"
    type="text"
    placeholder="Title..."
    ></textarea>
  </div>

      <div class="form-group">
        <textarea
        class="form-control"
        rows='10'
        name="description"
        type="text"
        placeholder="Event Details..."
        ></textarea>
      </div>

    <div class="form-group">
      <input
        name="date"
        type="date"
      >
    </div>

    <input
        class="btn btn-outline-primary align-self-end"
        type='submit'
        value='Submit'
      />
    </form>
  </div>
</div>


<%- include('../partials/footer.ejs') %>
