<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>rambleReport</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script defer src="/js/popper.min.js" charset="utf-8"></script>
    <script defer src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js" integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-inverse" style="background-color: #0e273c">
          <a class="navbar-brand" href="/">rambleReport</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/events/new">Create Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts/new">Create Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <% if (currentUser) { %>
             <li class="nav-item">
               <a class="nav-link" href="#">Hi, <%= currentUser.first_name%>!</a>
             </li>
           <% } else { %>
             <li class="nav-item">
               <form class="form-inline" action="/users/new" method="GET">
                 <a class="nav-link" href="/users/new">Sign Up</a>
               </form>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/">Log In</a>
             </li>
           <% } %>
            </ul>
          </div>
        </nav>

<div>
