<%- include('./partials/header') %>
<div id="welcomebg" class="d-flex justify-content-center align-items-center">
<div class="transbox text-center">
  <h1 >Welcome </h1>
  <h3 > Have you signed up yet? </h3>
   
   <form action="/users/new">
    <input class="btn btn-primary" type="submit" value="Sign Up!" />
</form>
</div>
<%- include('./partials/footer') %>
