<%- include('./partials/header') %>
  <div id="welcomebg" class="d-flex justify-content-center align-items-center">

  <%# <div id="login" class="card text-center" style="width: 20rem;">
  <div class="card-block">
    <h4 class="card-title">Log In</h4>
    <p class="card-text">Please log in with your facebook or google account</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>%>
  <div id="login" class="container-fluid text-center " style="width: 20rem;">
  <div class="card bg-light">
  <h2 class="card-header bg-success text-white ">Log In</h2>
  <p class="card-text">Please log in with your facebook or google account</p>
  <a href="/auth/facebook" class="btn btn-primary">Facebook Login</a>
  <a href="/auth/google" class="btn btn-primary">Google Login</a>
</div>
</div>
</div>

<%- include('./partials/footer') %>
